// breakpoints

$sm-min: 768px;
$sm-max: 1000px;
$md-min: 1024px;
$md-mid: 1180px;
$md-max: 1280px;
$lg-min: 1555px;
$lg-max: 1920px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$screen-xll-min: 1400px;

// container
$container-md: 760px;
$container-lg: 1250px;
$container-xll: 1250px;

// color
$real-black: #000;
$real-white: #fff;
$white: #F2F4FC;
$red: #EF3363;
$black: #31303E;
$yellow: #FFC700;
$yellow-dark-theme: #F8FF13;
$background-dark: #343745;
$grey: #F2F2F2;
$grey-hover: #E1E1E1;
$icons-dark-theme: #212430;
$icons-dark-theme-hover: #4D5160;
$blue: #03A9F4;
$form-grey: #DBDBDB;
$dark-grey: #676767;
$avatar-background: #DADADA;
$footer-background: #161620;
$footer-grey: #A8A8A8;
$star: #ACACAC;
$border-input: #E8E8E8;
$light-black: #3a3a3a;
$footer: #161620;
