@import "scss/index";

.default{
  background-color: #212968;
}

.root{
  display: flex;
  padding-left: 70px;
  padding-right: 172px;
  padding-top: 46px;
  padding-bottom: 88px;
  background: linear-gradient(180deg, #172463 0%, rgba(100, 74, 172, 0.3) 47.92%, rgba(83, 128, 223, 0) 100%);
  @media screen and (max-width: 1280px){
    flex-direction: column;
    padding-right: 70px;
  }
  @media screen and (max-width: 950px){
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (max-width: $sm-min){
    padding-bottom: 19px;
    padding-left: 43px;
    padding-top: 35px;
    padding-right: 50px;
  }
}

.copyright{
  font-size: 16px;
  line-height: 19px;
  color: #C9C9C9;
  font-family: 'Roboto';
  padding: 12px 0;
  text-align: center;
  background-color: #000;
}

.menu{
  display: flex;
  flex: 1;
  justify-content: space-around;
  @media screen and (max-width: $sm-min){
    flex-direction: column;
  }
}

.title{
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.41em;
  color: #000000;
  text-align: center;
}

.logo{
  display: flex;
  align-items: center;
  svg{
    margin-right: 13px;
  }
  @media screen and (max-width: 1280px){
    justify-content: center;
  }
  @media screen and (max-width: 375px){
    justify-content: flex-start;
  }
}

.titleLogo{
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.moscow{
  font-weight: 600;
  font-size: 14.4259px;
  line-height: 18px;
  letter-spacing: 0.165em;
  color: #000000;
  text-align: center;
}

.desc{
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  font-family: 'Roboto';
  margin-top: 26px;
  @media screen and (max-width: 1280px){
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: $sm-min){
    padding: 0;
  }
  @media screen and (max-width: 375px){
    justify-content: flex-start;
  }
}

.left{
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1280px){
    margin-bottom: 20px;
  }
}

.email{
  display: flex;
  align-items: center;
  margin-top: 25px;
  img{
    margin-right: 15px;
  }
  @media screen and (max-width: 1280px){
    justify-content: center;
    padding-left: 0;
  }
  @media screen and (max-width: 375px){
    justify-content: flex-start;
  }
}

.email{
  display: flex;
  align-items: center;
  margin-top: 22px;
  img{
    margin-right: 16px;
  }
}

.text{
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-family: 'Roboto';
  &:hover{
    text-decoration: underline;
  }
}

.textLoc{
  font-size: 16px;
  line-height: 19px;
  color: #4D4D4D;
  font-family: 'Roboto';
}

.icon{
  margin-right: 16px;
  svg{
    fill: #fff;
    &:hover{
      fill: #E57B7B;
    }
  }
}

.head{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-family: 'Roboto';
  margin-bottom: 3px;
}

.shop{
  display: flex;
  flex-direction: column;
  .text{
    margin-top: 16px;
  }
  @media screen and (max-width: $sm-min){
    margin-top: 64px;
  }
}

.right{
  @media screen and (max-width: $sm-min){
    margin-top: 70px;
  }
}

.social{
  margin-top: 16px;
  margin-bottom: 56px;
}

.footer{
  margin-top: auto;
  position: relative;
  z-index: 1;
}