@import "scss/index";

.root{
 height: 65px;
 display: flex;
 align-items: center;
 margin-top: 32px;
 justify-content: center;
 position: fixed;
 z-index: 100;
 width: 100%;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.scrolled{
  background: #000000;
  margin-top: 0;
}

.black{
  background-color: #000 !important;
}

.logo{
  display: flex;
  align-items: center;
  svg{
    margin-right: 13px;
  }
}

.title{
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.item{
  color: #bcbed3 !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btns{
  display: flex;
  align-items: center;
}

.firstBtn{
  margin-right: 10px;
}

.list{
  flex: 1;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow-x: clip;
  clip: auto;
  margin: 0 5%;

}